@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1D1E28;
    font-family: 'Whitney';
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
font-family: 'Whitney';
src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
font-weight: 400;
font-display: swap;
}

@font-face {
font-family: 'Whitney';
src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
font-weight: 500;
font-display: swap;
}

@font-face {
font-family: 'Whitney';
src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
font-weight: 600;
font-display: swap;
}

@font-face {
font-family: 'Whitney';
src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
font-weight: 700;
font-display: swap;
}

.span { 
    box-shadow: .6em 0 0 #313131;
    margin: 0rem 0rem;
    width: 17ch;
    overflow: hidden;
    white-space: nowrap;
    animation: caret .5s step-end infinite alternate,
               type 5s steps(23, end)

  }
  
  @keyframes type {
    0% {
      width: 0;
    }
  
  }
  @keyframes caret { 
    50% { 
      box-shadow: .6em 0 0 transparent;
    }
  }

